* {
  margin: 0%;
  padding: 0%;
}

.section_one {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.section_one_content {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: space-between;
}

.section_one_image_view {
  width: 50%;
  height: fit-content;
  margin: auto;
  display: flex;
}

.section_one_image_view img {
  margin: auto;
  width: 360px;
  height: auto;
  transition: transform 0.9s;
  border-radius: 10px;
  bottom: -100px;
  animation: slideUp 2s ease forwards;
}

.section_one_content_view {
  width: 50%;
  height: fit-content;
}

.section_one_content_view p {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 400;
  line-height: 36px;
  color: #575757;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 140px;
  bottom: -100px;
  animation: slideUp 4s ease forwards;
}

.section_two {
  width: 100%;
  height: fit-content;
  background-size: cover;
}

.section_two h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  font-family: "poppins";
}

.travel_section_cardview {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}
.section_two_image {
  width: 40%;
  max-height: 100%;
  box-sizing: border-box;
}

.section_two_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
  transition: transform 0.9s;
}

.section_two_text_view {
  width: 60%;
  padding-top: 20px;
}

.section_two_text_view h3 {
  padding-bottom: 24px;
  padding-left: 4rem;
  padding-right: 2rem;
  font-weight: 700;
  font-size: 24px;
  font-family: "poppins";
}

.section_two_text_view p {
  padding-left: 4rem;
  padding-right: 2rem;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  font-family: "poppins";
}

.section_three {
  width: 100%;
  height: fit-content;
  background-size: cover;
}

.section_three h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  font-family: "poppins";
  margin-top: 120px;
}
.photography_card_view {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.photography_card_view .photography_card_item {
  padding-bottom: 40px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.photography_card_item .photography_card_inner {
  border-radius: 10px;
  width: fit-content;
  bottom: -100px;
  animation: slideUp 2s ease forwards;
}

.photography_card_inner img {
  width: 100%;
  transition: transform 0.9s;
  border-radius: 10px;
  height: fit-content;
}

.photography_image_1 {
  height: 660px;
  width: 200px;
  margin-top: 60px;
  transition: transform 1.6s;
}

.photography_image_2 {
  height: 660px;
  width: 200px;
  z-index: 1;
  margin-top: 240px;
  transition: transform 0.9s;
}

.photography_image_3 {
  height: 660px;
  width: 200px;
  margin-top: 10px;
  transition: transform 0.9s;
}

/* Responsive screen at 1060px */
@media (max-width: 1060px) {
  .section_one_content_view P {
    padding-left: 2rem;
    padding-right: 1rem;
    bottom: -100px;
    animation: slideUp 2s ease forwards;
  }

  .section_two_text_view h3 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section_two_text_view p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section_two_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 1;
    height: 70px;
  }

  .section_two_image img {
    height: 60px;
  }

  .photography_card_view .photography_card_item {
    width: 48%;
  }
}

/* Responsive screen at 800px */
@media (max-width: 800px) {
  .section_one {
    height: fit-content;
  }

  .section_one_content {
    flex-direction: column;
    height: fit-content;
  }

  .section_one_image_view {
    width: 100%;
  }

  .section_one_content_view {
    width: 100%;
  }

  .section_one_content_view P {
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 40px;
    padding-bottom: 60px;
    bottom: -100px;
    animation: slideUp 2s ease forwards;
  }

  .travel_section_cardview {
    flex-direction: column;
    align-items: center;
  }

  .section_two_image {
    width: 100%;
  }

  .section_two_image img {
    height: 340px;
    border-radius: 10px;
  }

  .section_two_text_view {
    width: 100%;
    padding-bottom: 20px;
  }

  .photography_card_view .photography_card_item {
    width: 48%;
  }
}

/* Responsive screen at 520px */
@media (max-width: 520px) {
  .section_one_content_view P {
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: -100px;
    animation: slideUp 2s ease forwards;
  }

  .section_two_text_view h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section_two_text_view p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .photography_card_view .photography_card_item {
    width: 100%;
  }

  .photography_image_1 {
    margin-top: 0px;
  }

  .photography_image_2 {
    margin-top: 0px;
  }

  .photography_image_3 {
    margin-top: 0px;
  }
}
